html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #03658C, #00378A, #030E8C, #23038C);
  overflow-x: hidden; /* Adicionado para evitar que o conteúdo exceda a largura da tela */
}

  
 

  @media screen and (max-width: 792px) {
    .main-header {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    

    .main-header__menu {
      margin-left: 0;
      width: 100%;
    }

    .main-header__menu ul {
      flex-wrap: wrap;
    }

    .main-header__menu ul li {
      width: 100%;
      margin-right: 0;
    }
    

    .product-list {
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    .product-list__card {
      flex-direction: column;
      width: 100%;
      height: auto;
      
    }

   
  }
  @media (max-width: 479px) {
    body {
      font-size: 12px;
    }
  }

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #00378A;
    padding: 8px;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 40%;
    height: auto;
  }

  .main-header__title--blue {
    color: #F8F9FD;
    font-size: 32px; 
  }
  
  @media screen and (max-width: 792px) {
    .main-header__title--blue {
      font-size: 32px; 
    }
    .footer{
      font-size: 14px;
    }
    .footer__title{
      font-size :22px;;
          }
    .product-list__card{
      height: 350px;
      width: 250px;
     }
    
        

    }
    .product-item__name{
      font-size: 18px;
      color: #F8F9FD;
    }
  
  
  @media screen and (max-width: 480px) {
    .main-header__title--blue {
      font-size: 24px; 
    }
    .footer{
      font-size: 10px;
    }
    .texto h1 {
      font-size: 16px;
  }
    .footer__title{
      font-size :18px;;
          }
          .product-list__card{
            height: auto;
            width: 125px;
      
          }
          .product-item__name{
            font-size: 14px;
            color: #F8F9FD;
          }
          .product-list {
            position: relative;
            top: auto;
           
            
          }
          .product-list__card {
            position: relative;
            top: 160PX;
            right: 350px;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 8px;
            flex: 0 1 200px;
            
            background-color: #1b4d98;
            box-shadow: rgba(99, 99, 99, 0.2) 4px 4px 4px 4px;
          }
          .footer__about-text  {
            color: #F8F9FD;
            position: relative;
            right: 100PX;
            
          }
          .main-header__menu ul li a {
            color: #F8F9FD;
            text-decoration: none;
            position: relative;
            right: 60PX;
          }
          .footer__container {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            position: relative;
            left: 50px;
          }
          
        .texto h1 {
          position: relative;
            top: 60px;
            font-size: 16px;
          
         
      }
      .titulo4{font-size: 16px;}
      
      
      .texto p {
        position: relative;
        top: 80px;
        font-size: 2px;
      }
         
  }
  
  @media screen and (max-width: 320px) {
    .main-header__title--blue {
      font-size: 10px; 
    }
    .footer{
      font-size: 8px;
    }
    .footer__title{
      font-size :14px;;
    }
    .product-list__card{
      height: auto;
      width: 75px;

    }
    .product-item__name{
      font-size: 10px;
      color: #F8F9FD;
    }
    
    
  }

  .main-header__menu {
    margin-left: 100px;
  }

  .main-header__menu ul {
    list-style: none;
    display: flex;
  }

  .main-header__menu ul li {
    margin-right: 20px;
  }

  .main-header__menu ul li a {
    color: #F8F9FD;
    text-decoration: none;
  }

  .main-header__menu ul li a:hover {
    color: #609EFB;
  }

  .product-list {
    position: relative;
    top: 150px;
    left: 350px;
    padding: 40px 0;
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .texto {
    text-align: center;
    margin-top: 50px; /* ou ajuste conforme necessário */
    position: relative;
    top: 150px;
}

.texto h1 {
    font-size: 36px;
    color: #ffffff; /* cor do texto */
}

.texto p {
    font-size: 18px;
    color: #fefefe; /* cor do texto */
    margin-top: 20px; /* ou ajuste conforme necessário */
}

  .product-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    flex: 0 1 200px;
    
    background-color: #1b4d98;
    box-shadow: rgba(99, 99, 99, 0.2) 4px 4px 4px 4px;
  }
  
  .product-list__card:hover {
    outline: 1px solid #f4f5f6;
    transform: scale(1.0, 1.0);
    cursor: pointer;
  }

  .product-list__card img {
    height: 180px;
    width: 180px;
    align-self: center;
    display: block;
    border-radius: 8px;
  }

  .product-item__buy-button {
    background-color: #CDDEFF;
    border: none;
    margin-left: 32px;
    color: #ffffff;
    font-size: 20px;
    padding: 2px 12px;
    position: relative;
  
    right: 18px;
    border-radius: 8px;
    

    
  }

  .product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
    color: #CDDEFF;
  }

  .footer {
    position: relative;
    top: 300px;
    background-color: #00378A;
    align-items: center;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    left: 100px;
  }
  
.footer__title {
    
    font-weight: 50px;
    color: #F8F9FD;
    margin-bottom: 5px;
  }

  .footer__about-text  {
    color: #F8F9FD;
  }
  
  .footer__copyright {
    color: #F8F9FD;
    
  }